<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Current Cartridges</h1>
    <ul class="cartridges">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="cartridge">
            <span><%= info[i].gunType %> - </span> 
            <span><%= info[i].cartridgeName %></span>
            <span><%= info[i].likes %></span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Add A Cartridge:</h2>

    <form action="/addCartridge" method="POST">
        <input type="text" placeholder="Pistol or Rifle?" name="gunType">
        <input type="text" placeholder="Cartridge Name" name="cartridgeName">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
